<%=stylesheet_link_tag "projects"%>

<div id="Cad" class="tabcontent-project center" style="display:none;">
  <h3 >CAD Showcase</h3>
  <div class="col-md-2"></div>
  <p class="col-md-8"> 3D modeling is one of the most important process in a product design and this skill would make any ideas come to life.
  I thought 3D modeling is something super difficult but once I tried getting my hands dirty, I found it extremely fun and exciting. 
  Althought, I still have so much to learn, I'm already amazed by how much I am capable of.</p>
  <div class="col-md-2"></div>
  <%= image_tag( 'cad/spaceship', alt: "spaceship")%>
  <br></br>
  <%= image_tag( 'cad/box', alt: "box")%>
  <br></br>
  <%= image_tag( 'cad/car1', alt: "car1")%>
  <br></br>
  <%= image_tag( 'cad/car2', alt: "car2")%>
  <br></br>
  <%= image_tag( 'cad/car3', alt: "car3")%>
  <br></br>
   <%= image_tag( 'cad/lamps1', alt: "lamps1")%>
  <br></br>
   <%= image_tag( 'cad/lamps2', alt: "lamps2")%>
  <br></br>
   <%= image_tag( 'cad/lamps3', alt: "lamps3")%>
  <br></br>

</div>