<%=stylesheet_link_tag "projects"%>

<div id="Dog" class="tabcontent-project">
  <h3 class="center">Dog Showcase</h3>
      <div class="row"> 
        <%= image_tag("logo/logo-01", alt: "Swiss3", class: "project-icon col-md-4 col-sm-12")%>
        <%= image_tag("logo/logo-22", alt: "logo-22", class: "project-icon col-md-4 col-sm-12")%>
        <%= image_tag("logo/logo-03", alt: "logo-03", class: "project-icon col-md-4 col-sm-12")%>
      </div>
      <div class="row"> 
        <%= image_tag("logo/logo-04", alt: "logo-04", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-05", alt: "logo-05", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-06", alt: "logo-06", class: "project-icon col-md-4")%>
      </div>
      

</div>