<%=stylesheet_link_tag "projects"%>

<div id="Dog" class="tabcontent-project" style="display:none;">
  <h3 class="center">Dog Showcase</h3>
  <div class="col-md-2"></div>
  <p class="col-md-8">My friends called me a dog person, a dog slave. And that's jsut a face. I'm always passionate about dogs.I did everything my dog told me to do, and I am proud of it. I have a dog named KURO in my country, I missed him so much that I would buy a plane ticket and go back home jsut to visit my dog</p>
  <div class="col-md-2"></div>
     <%= image_tag( 'dog/Corgeek', alt: "Corgeek", class: "col-md-4")%>
     <%= image_tag( 'dog/red', alt: "red", class: "col-md-4")%>
     <%= image_tag( 'dog/Swiss3', alt: "Swiss3", class: "col-md-4")%>
     <%= image_tag( 'dog/lonely', alt: "lonely", class: "col-md-4")%>
     <%= image_tag( 'dog/mywholeworld', alt: "mywholeworld", class: "col-md-4")%>
     <%= image_tag( 'dog/shiba', alt: "shiba", class: "col-md-4")%>
     <%= image_tag( 'dog/haha', alt: "haha", class: "col-md-4")%>
     <%= image_tag( 'dog/beagle', alt: "beagle", class: "col-md-4")%>
     <%= image_tag( 'dog/american', alt: "american", class: "col-md-4")%>
     <%= image_tag( 'dog/blue', alt: "blue", class: "col-md-4")%>
     <%= image_tag( 'dog/colorfulpaw', alt: "colorfulpaw", class: "col-md-4")%>
</div>
      

</div>