<%=stylesheet_link_tag "projects"%>

<div id="Dog" class="tabcontent-project" style="display:none;">
  <h3 class="center">Dog Showcase</h3>
     <%= image_tag( 'dog/Corgeek', alt: "Corgeek", class: "thirty")%>
     <%= image_tag( 'dog/colorfulpaw', alt: "colorfulpaw", class: "thirty")%>
     <%= image_tag( 'dog/Swiss3', alt: "Swiss3", class: "thirty")%>
     <%= image_tag( 'dog/shiba', alt: "shiba", class: "thirty")%>
     <%= image_tag( 'dog/lonely', alt: "lonely", class: "thirty")%>
     <%= image_tag( 'dog/mywholeworld', alt: "mywholeworld", class: "thirty")%>
     <%= image_tag( 'dog/haha', alt: "haha", class: "thirty")%>
     <%= image_tag( 'dog/red', alt: "red", class: "thirty")%>
     <%= image_tag( 'dog/beagle', alt: "beagle", class: "thirty")%>
     <%= image_tag( 'dog/american', alt: "american", class: "thirty")%>
     <%= image_tag( 'dog/blue', alt: "blue", class: "thirty")%>
</div>
      

</div>