<%=stylesheet_link_tag "projects"%>

<div id="Infinity" class="tabcontent-project center" style="display:none;">
  <h3 >Infinity War Showcase</h3>
  <%= image_tag( 'infinity/iron', alt: "iron", class: "thirty")%>
  <%= image_tag( 'infinity/cap', alt: "cap", class: "thirty")%>
  <%= image_tag( 'infinity/hulk', alt: "hulk", class: "thirty")%>
  <%= image_tag( 'infinity/star', alt: "star", class: "thirty")%>
  <%= image_tag( 'infinity/groot', alt: "groot", class: "thirty")%>
</div>