<%=stylesheet_link_tag "projects"%>

<div id="Infinity" class="tabcontent-project center" style="display:none;">
  <h3 >Infinity War Showcase</h3>
  <div class="col-md-2"></div>
  <p class="col-md-8">私はMarvelのスーパーヒーロが大好きで、今年2018に新しい Marvelの映画 Avengers: Inifinity War
  というのが出て、ものすごく楽しかったので、それについてデザインのプロジェックトをはじめました。
  これはスーパーヒーロの画面を多角形化するアイデアです。</p>
  <div class="col-md-2"></div>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <%= image_tag( 'infinity/iron', alt: "iron", class: "thirty")%>
  <%= image_tag( 'infinity/cap', alt: "cap", class: "thirty")%>
  <%= image_tag( 'infinity/hulk', alt: "hulk", class: "thirty")%>
  <%= image_tag( 'infinity/star', alt: "star", class: "thirty")%>
  <%= image_tag( 'infinity/ant', alt: "ant", class: "thirty")%>
  <%= image_tag( 'infinity/spider', alt: "spider", class: "thirty")%>
  <%= image_tag( 'infinity/strange', alt: "strange", class: "thirty")%>
  <%= image_tag( 'infinity/vision', alt: "vision", class: "thirty")%>
  <%= image_tag( 'infinity/drax', alt: "drax", class: "thirty")%>
  <%= image_tag( 'infinity/war', alt: "war", class: "thirty")%>
  <%= image_tag( 'infinity/falcon', alt: "falcon", class: "thirty")%>
  <%= image_tag( 'infinity/black', alt: "black", class: "thirty")%>
  <%= image_tag( 'infinity/groot', alt: "groot", class: "thirty")%>
</div>