<%=stylesheet_link_tag "projects"%>

<div id="Logo" class="tabcontent-project">
    <h3 class="center">Logo Showcase</h3>
<div class="row">
        <%= image_tag("logo/paint", alt: "paint", class: " col-md-4 project-icon")%>
        <%= image_tag("logo/pups", alt: "pups", class: "project-icon col-md-4")%>
        <%= image_tag("logo/rabbit", alt: "rabbit", class: "project-icon col-md-4")%>
        <%= image_tag("logo/space", alt: "space", class: "project-icon col-md-4")%>
        <%= image_tag("logo/sharp", alt: "sharp", class: "project-icon col-md-4")%>
        <%= image_tag("logo/sparked", alt: "sparked", class: "project-icon col-md-4")%>
    </div>
</div>