<%=stylesheet_link_tag "projects"%>

<div id="Logo" class="tabcontent-project">
  <h3 class="center">Logo Showcase</h3>
    <div class="col-md-2"></div>
      <p class="col-md-8">ロゴは会社の証明です。また、消費者はその企業のロゴからイメージがつきます。
      私もロゴに興味を持って、いろんな会社のロゴをデザインしてみました。</p>
    <div class="col-md-2"></div>
    
      <div class="row"> 
        <%= image_tag("logo/logo-01", alt: "logo-01", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-22", alt: "logo-22", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-03", alt: "logo-03", class: "project-icon col-md-4")%>
      </div>
      
      <div class="row"> 
        <%= image_tag("logo/logo-01", alt: "logo-01", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-22", alt: "logo-22", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-03", alt: "logo-03", class: "project-icon col-md-4")%>
      </div>
      
      <div class="row"> 
        <%= image_tag("logo/logo-04", alt: "logo-01", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-15", alt: "logo-15", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-06", alt: "logo-06", class: "project-icon col-md-4")%>
      </div>
      <div class="row"> 
        
        <%= image_tag("logo/logo-08", alt: "logo-08", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-27", alt: "logo-27", class: "project-icon col-md-4")%>
        <%= image_tag("logo/freelance", alt: "freelance", class: "project-icon col-md-4")%>
      </div>
      <div class="row"> 
        <%= image_tag("logo/fast", alt: "fast", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-11", alt: "logo-11", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-12", alt: "logo-12", class: "project-icon col-md-4")%>
      </div>
      
      <div class="row"> 
        <%= image_tag("logo/logo-13", alt: "logo-13", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-14", alt: "logo-14", class: "project-icon col-md-4")%>
        <%= image_tag("logo/<logo-0></logo-0>5", alt: "logo-05", class: "project-icon col-md-4")%>
      </div>
      
      <div class="row"> 
        <%= image_tag("logo/logo-16", alt: "logo-16", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-17", alt: "logo-17", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-18", alt: "logo-18", class: "project-icon col-md-4")%>
        
        </div>
        <div class="row"> 
        <%= image_tag("logo/logo-19", alt: "logo-19", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-20", alt: "logo-20", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-21", alt: "logo-21", class: "project-icon col-md-4")%>
        
        </div>
        
        <div class="row"> 
        
        <%= image_tag("logo/logo-23", alt: "logo-23", class: "project-icon col-md-4")%>
        <%= image_tag("logo/anchor", alt: "anchor", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-02", alt: "logo-02", class: "project-icon col-md-4")%>
        </div>
        
        <div class="row"> 
        <%= image_tag("logo/logo-25", alt: "logo-25", class: "project-icon col-md-4")%>
        <%= image_tag("logo/logo-09", alt: "logo-09", class: "project-icon col-md-4")%>
        <%= image_tag("logo/kitti-logo", alt: "kitti-logo", class: "project-icon col-md-4")%>
        </div>
        
        <div class="row"> 
        <%= image_tag("logo/yuu-logo", alt: "yuu-logo", class: "project-icon col-md-4")%>
  
        </div>
        <!--<%= image_tag("logo/logo-07", alt: "logo-07", class: "project-icon col-md-4")%>÷-->

</div>