<%=stylesheet_link_tag "projects"%>

<div id="TEDxYNU" class="tabcontent-project center" style="display:none;">
  <h3 >TEDxYNU Showcase</h3>
  <p>私はTEDxYNUというTED Talksのようなコンファレンスを主催するサークル属しています。
  ここでデザイナー係に属し、ローゴー、募集のポスター、宣伝ポスターなども作っていました。</p>
  <%= image_tag( 'tedxynu/ynublacklogo', alt: "ynublacklogo")%>
  <br></br>
  <%= image_tag( 'tedxynu/ynuwhitelogo', alt: "ynuwhitelogo")%>
  <br></br>
  <%= image_tag( 'tedxynu/colorfulx', alt: "colorfulx")%>
  <br></br>
  <%= image_tag( 'tedxynu/breathe', alt: "breathe")%>
  <br></br>
  <%= image_tag( 'tedxynu/x', alt: "x")%>
  <br></br>
  <%= image_tag( 'tedxynu/poster1', alt: "poster1", class: "col-md-6")%>
  <br></br>
  <%= image_tag( 'tedxynu/poster2', alt: "poster2", class: "col-md-6")%>
  
  

</div>